name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - '!main'
  pull_request:
    branches:
      - 'main'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install
      run: npm --no-fund ci
    - name: compile
      run: npm run compile
    - name: test
      run: npm test
